.slide {
  transition: all 1s ease-out;
}

/* .slideOpen {
  opacity: 0;
  transform: translateX(-100%);
}
.slideClose {
  opacity: 1;
}
.nextSlide {
  transform: translateX(100%);
}
.prevSlide {
  transform: translateX(-100%);
} */

.slideImage {
  position: relative;
}
.slideButton {
  position: absolute;
  background-color: #ffffffd5;
  top: 4rem;
  right: 4rem;
  margin: 1rem;
  padding: 3.2rem;
  color: #29231d;
  font-size: 2.4rem;
  border-radius: 0.1rem;
  text-decoration: none;
  box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.5);
}
