.header {
  /* max-width: 130rem; */
  background-color: #c0eb75;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  /* position: relative; */
  height: 10rem;
}

/* .headerLogo {
  height: 10rem;
  width: 20rem;
} */
.menuIcons {
  display: none;
}
.menuIcon {
  height: 3.2rem;
  width: 3.2rem;
}

.container {
  max-width: 130rem;
  padding: 9.6rem 0;
  margin: 0 auto;
}
.prodC {
  position: relative;
  display: grid;
  grid-template-columns: 10rem auto 30%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
