.headerNavList {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3.2rem;
  justify-content: space-evenly;
}

.allProducts {
  transition: all 1s;
}

.headerNavLink:link,
.headerNavLink:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: #5d2800;
}

.cartMenuElement {
  position: relative;
}

.cartElementQuantity {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  font-size: 2rem;
  font-weight: 600;

  /* bottom: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 20%;
  background-color: aliceblue; */

  color: #fff;
  background: #e72419;
  border-radius: 50%;

  height: 2.3rem;
  padding: 0 0.6rem;
  bottom: 2rem;
  left: 2rem;
}

.headerNavLink:hover,
.headerNavLink:active {
  color: #212223;
}

/* .menuIcons {
  display: none;
} */

@media (max-width: 33em) {
  .menuText {
    display: none;
  }
  .menuIcons {
    display: block;
  }
}
