.container {
  max-width: 130rem;
  padding: 9.6rem 0;
  margin: 0 auto;
}
.bestProducts {
  background-color: #f4fce336;
}

.bestProductsMain {
  margin: 0 3.2rem;
}

.color {
  background-color: aquamarine;
}

.bestProductH2 {
  text-align: center;
  font-size: 6rem;
}
