.notification {
  position: fixed;

  bottom: 3rem;
  z-index: 1000;
  padding: 3rem;
  background-color: rgba(128, 255, 0, 0.63);
  margin: 3rem;
  border-radius: 2rem;
}
.notification h1 {
  text-align: center;
  font-size: 2rem;
}
