.loginContainer {
  /* width: 40rem; */
  padding: 0 auto;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 3.2rem;
}
.form {
  margin: auto;
  margin-bottom: 5rem;
}

.loginContainer h2 {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 5rem;
}

.loginForm {
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3.2rem;
  margin: 0 auto;
  width: 35rem;
  padding: 3.2rem;
  background-color: #f8f9fa;
  margin-bottom: 2.4rem;
  border-radius: 1rem;
}
.loginFormElement {
  display: flex;
  flex-direction: column;
}

.loginFormElement label {
  font-size: 3.2rem;
  text-align: center;
}

.loginFormElement input {
  border: 1px solid #eeded3;

  font-size: 1.8rem;
  text-align: center;
  border-radius: 9px;
  padding: 1.2rem;
  margin-top: 1.2rem;
}

.loginFormElement input:hover,
.loginFormElement input:focus {
  border: 1px solid #f76707;
  outline: 0;
  outline-offset: 0;
}

.notificationContainer {
  position: relative;
  display: flex;
  justify-content: center;
}
