.loginButton {
  display: flex;
  width: 35rem;
  margin: 0 auto;
}
.loginButton a:link,
.loginButton a:visited {
  margin: 0 5px 20px;
  color: #555;
  padding: 1.2rem 2rem;
  font-size: 2.4rem;
  text-decoration: none;
  transition: all 0.3s;
  border: 1px solid #666;
  color: #666;
  background: #fff;
  padding: 10px 20px;
}

.loginButton a:hover,
.loginButton a:active {
  background-color: #fd7e14;
  color: #f8f9fa;
}

.registrationLink {
  padding-top: 3.2rem;
  display: flex;
  justify-content: flex-end;
}

.registrationLink a:link,
.registrationLink a:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #34352e;
}

.registrationLink a:hover,
.registrationLink a:active {
  color: #9e7b06;
}
