.cartOrderButton {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.cartOrderButton a {
  text-align: center;
}

.cartOrderButton a:link,
.cartOrderButton a:visited {
  margin: 0 5px 20px;
  color: #555;
  padding: 1.2rem 2rem;
  font-size: 2.4rem;
  text-decoration: none;
  transition: all 0.3s;
  border: 1px solid #666;
  color: #666;
  background: #fff;
  padding: 10px 20px;
}

.cartOrderButton a:hover,
.cartOrderButton a:active {
  color: #fff5f5;
  background-color: #e8590c;
}
