.cartElement {
  gap: 0.8rem;
  padding: 2.4rem 0;
  border-bottom: 1px solid rgba(173, 173, 173, 0.4);
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}

.cartElementCellProducts {
  width: 100%;
  display: flex;
  gap: 3.2rem;
}

.cartElementCellProducts img {
  width: 9.8rem;
  /* flex-shrink: 0; */
  height: max-content;
}

.cartElementDescription:link,
.cartElementDescription:visited {
  text-decoration: none;
  color: #34352e;
}

.cartElementDescription:hover,
.cartElementDescription:active {
  color: #f76707;
}

.cartElementCell {
  display: flex;
  gap: 2.4rem;
}
.cartElementCellPriceText {
  display: none;
}

.cartElementCellPrice {
  min-width: 13rem;
  /* flex-shrink: 1; */
}
.cartElementCellQuantity {
  min-width: 13rem;
  /* flex-shrink: 1; */
}
.cartElementCellCost {
  min-width: 13rem;
  /* flex-shrink: 1; */
}

@media (max-width: 40em) {
  .cartElement {
    /* flex-direction: column; */
    grid-template-columns: 100%;
    justify-items: center;
  }

  .cartElementCellPriceText {
    display: block;
  }
  .cartElementCellProducts {
    justify-content: center;
  }
}
