.cartMain {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  gap: 0.8rem;
}

.cartMainCellProducts {
  width: 100%;
  /* flex-shrink: 0; */
}
.cartMainCellPrice {
  min-width: 13rem;
  /* flex-shrink: 1; */
}
.cartMainCellQuantity {
  min-width: 13rem;
  /* flex-shrink: 1; */
}
.cartMainCellCost {
  min-width: 13rem;
  /* flex-shrink: 1; */
}

@media (max-width: 40em) {
  .cartMain {
    display: none;
  }
}
