.form {
  width: 100%;
}
.registrationContainer {
  padding-bottom: 2rem;
  width: 90%;

  padding: 0 auto;
  margin: 0 auto;
}

.nameContainer {
  position: relative;
}

.backgroundNameContainer {
  font-size: 24rem;
  line-height: 1;
  position: absolute;
  color: rgba(17, 156, 201, 0.11);
  opacity: 0.5;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: -5rem;
  z-index: -1;
}

.backgroundName {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  font-family: "Uni Sans Caps", sans-serif, BlinkMacSystemFont, -apple-system;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.03em;
}

.bestProductH2 {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 3.2rem;
  font-family: "Uni Sans Caps", sans-serif, BlinkMacSystemFont, -apple-system;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #185288;
}

.registrationContainer h2 {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 5rem;
}
.loginContainer {
  width: 40rem;
  padding: 0 auto;
  margin: 0 auto;
}

.loginContainer h2 {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 5rem;
}

.loginForm {
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3.2rem;
  margin: 0 auto;
  width: 35rem;
  padding: 3.2rem;
  background-color: #f8f9fa;
  margin-bottom: 2.4rem;
  border-radius: 1rem;
}
.loginFormElement {
  display: flex;
  flex-direction: column;
}

.loginFormElement label {
  font-size: 3.2rem;
  text-align: center;
}

.loginFormElement input {
  border: 1px solid #eeded3;

  font-size: 1.8rem;
  text-align: center;
  border-radius: 1px;
  padding: 1.2rem;
  margin-top: 1.2rem;
}

.loginFormElement input:hover,
.loginFormElement input:focus {
  border: 1px solid #f76707;
  outline: 0;
  outline-offset: 0;
}
