.productCard {
  min-width: 21rem;
  /* border: 2px solid #fcb97d; */
  border-radius: 11px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.2rem;
  background-color: #ffffff;
  box-shadow: 0 10px 15px rgb(0 0 0 / 5%);
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.productCard:hover {
  box-shadow: 15px 10px 15px rgb(0 0 0 / 5%);
}

.productCardRaiting {
  padding: 1.6rem;
  align-self: flex-end;
  display: flex;
}
.productCardStar {
  height: 2.4rem;
  width: 2.4rem;
  color: #c0eb75;
}

.productCardRaitingValue p {
  font-size: 2rem;
}
.productCardTextSection {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.cardLink:link,
.cardLink:visited {
  text-decoration: none;
  font-size: 2.4rem;
  display: block;
  align-self: flex-end;
  color: #9e7b06;
  align-self: center;
}

.cardLink:hover,
.cardLink:active {
  text-decoration: none;
  font-size: 2.4rem;
  display: block;
  align-self: flex-end;
  color: #555;
  align-self: center;
}

.price {
  font-size: 2.4rem;
  font-family: "Proxima Nova", sans-serif, BlinkMacSystemFont, -apple-system;
  font-weight: 600;
  line-height: 1.5;
  line-height: 1;
  color: #333;
  margin-top: 2px;
  color: #333;
}

.imageContainer {
  position: relative;
}

.imageContainer a {
  display: flex;
  margin-bottom: 16px;
  min-height: 200px;
}

.changeImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* z-index: 4; */
  display: flex;
}
.changeImage {
  height: 100%;
  flex: 1 1 auto;
}

.productCardImg {
  width: 100%;
}

.imageDotsContainer {
  align-items: center;
  bottom: -6px;
  display: flex;
  height: 6px;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
  gap: 1.2rem;
}
.imageDots {
  border: 1px solid black;
  border-radius: 0;
  height: 1rem;
  width: 1rem;
}
.imageDotsActive {
  border: 1px solid black;
  background-color: #d48c665d;
  border-radius: 0;
  height: 1rem;
  width: 1rem;
}

.bestProductH2 {
  text-align: center;
  font-size: 6rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer b,
.inputContainer input {
  font-size: 2.4rem;
}

.footerCardSection {
  display: flex;
  gap: 1rem;
}

.productCardButton a:link,
.productCardButton a:visited {
  margin: 0 5px 20px;
  color: #555;
  padding: 1.2rem 2rem;
  font-size: 2.4rem;
  text-decoration: none;
  transition: all 0.3s;
  border: 1px solid #666;
  color: #666;
  background: #fff;
  padding: 10px 20px;
}

.productCardButton a:hover,
.productCardButton a:active {
  color: #fff5f5;
  background-color: #e8590c;
}

.notification {
  position: relative;
  width: 100%;
}

.notificationContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 40rem;
}
