.container {
  max-width: 130rem;
  padding: 9.6rem 0;
  margin: 0 auto;
  position: relative;
}

.myContainer {
  margin: 0 3.6rem;

  position: relative;
}

.nameContainer {
  position: relative;
}

.backgroundNameContainer {
  font-size: 24rem;
  line-height: 1;
  position: absolute;
  color: rgba(17, 155, 201, 0.15);
  opacity: 0.5;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: -5rem;
  z-index: -1;
}
.backgroundName {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  font-family: "Uni Sans Caps", sans-serif, BlinkMacSystemFont, -apple-system;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.03em;
}

.bestProductH2 {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 3.2rem;
  font-family: "Uni Sans Caps", sans-serif, BlinkMacSystemFont, -apple-system;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #185288;
}

.name {
  font-size: 2.4rem;
  padding: 3.2rem 0;
}

.orderTitle {
  font-size: 2.4rem;
  padding: 3.2rem 0;
}

.loginButton {
  display: flex;
  width: 20rem;
  margin: 0 auto;
}

.cabinetButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.cabinetButton a:link,
.cabinetButton a:visited {
  color: #555;
  background-color: #ffd8a8;
  padding: 1.2rem 2rem;
  font-size: 2.4rem;
  text-decoration: none;
  transition: all 0.3s;
  margin-top: 5rem;
  transition: all 0.3s;
  border: 1px solid #666;
  color: #666;
  background: #fff;
  padding: 10px 20px;
}

.cabinetButton a:hover,
.cabinetButton a:active {
  color: #fff5f5;
  background-color: #e8590c;
}
