.orderContainer {
  padding: 2rem;
  border: 2px solid #ffa94d;
  margin: 2rem;
  width: 50%;

  min-width: 21rem;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.2rem;
  background-color: #ffffff;
  box-shadow: 0 10px 15px rgb(0 0 0 / 5%);
  transition: box-shadow 0.3s;
}

.orderContainer:hover {
  box-shadow: 15px 10px 15px rgb(0 0 0 / 5%);
}

.orderElement {
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  border-bottom: 2px solid #ffa94d;
}

.orderDate {
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
}
.orderTotalCost {
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
}

@media (max-width: 40em) {
  .orderContainer {
    width: 100%;
  }
}
