.container {
  max-width: 130rem;
  padding: 9.6rem 0;
  margin: 0 auto;
}

.ordersSection {
  margin: 0 3.6rem;
  /* min-width: 62rem; */
  position: relative;
}

.orderContainer {
  padding: 2rem;
  border: 2px solid #ffa94d;
  margin: 2rem;
  width: 50%;
}
.ordersTitle {
  font-size: 3.2rem;
  text-align: center;
}

.orderElement {
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  border-bottom: 2px solid #ffa94d;
}

.orderDate {
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
}
.orderTotalCost {
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
}

@media (max-width: 40em) {
  .orderContainer {
    width: 100%;
  }
}
