.itemInfoElement {
  display: flex;
  gap: 3.2rem;
}

.itemInfoDescription {
  display: flex;

  gap: 3.2rem;
  flex-grow: 1;
}
.itemDescriptionImages {
  width: 50rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.bigImage {
  width: 100%;
  height: auto;
}

.arrowLeftContainer {
  position: absolute;
  z-index: 10;
  top: 40%;
  background-color: #fffcfc;
  border: 0.1rem solid black;
}

.arrowRightContainer {
  position: absolute;
  z-index: 10;
  top: 40%;
  right: 1.7rem;
  background-color: #fffcfc;
  border: 0.1rem solid black;
}

.arrowRightContainer:hover,
.arrowLeftContainer:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.521);
}

.smallImagesSection {
  display: flex;
  overflow: hidden;
  gap: 1.2rem;
  height: 15rem;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}
.smallImagesContainer {
  padding-left: 4rem;
}

.smallImageLink {
  position: absolute;
  height: 100%;
  width: auto;
  transition: all 1s ease-out;
}

.smallImage {
  height: 100%;
  width: auto;
}

.itemDescriptionComponents {
  flex: 1;
  width: auto;
}

.itemDescriptionHead {
  font-size: 2.4rem;
}

.componentsTableElement {
  display: flex;
  gap: 1.6rem;
  align-items: flex-end;
  justify-content: space-between;
}

.componentsTable {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  margin: 2.4rem 0;
  align-self: stretch;
}

.componentsTableElement {
  border-bottom: 2px solid #e8590c;
  padding: 1.4rem;
}

.componentsTableNutrient {
  font-size: 1.6rem;
  align-self: flex-start;
}
.componentsTableNutrientValue {
  font-size: 1.6rem;
}

.itemInfoPrice {
  width: 24rem;
  min-width: 24rem;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

.itemInfoPrice p {
  font-size: 3.2rem;
  line-height: 1;
  font-family: "Uni Sans Demo", sans-serif;
  letter-spacing: 0.03em;
  color: #e72419;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
}

.itemInfoPriceValue {
  font-size: 3.2rem;
  font-weight: 700;
}

.productCardButton a:link,
.productCardButton a:visited {
  margin: 0 5px 20px;
  color: #555;
  padding: 1.2rem 2rem;
  font-size: 2.4rem;
  text-decoration: none;
  transition: all 0.3s;
  border: 1px solid #666;
  color: #666;
  background: #fff;
  padding: 10px 20px;
}

.productCardButton a:hover,
.productCardButton a:active {
  color: #fff5f5;
  background-color: #e8590c;
}

@media (max-width: 64em) {
  .itemInfoElement {
    flex-direction: column;
  }
  .itemInfoPrice {
    width: auto;
    align-items: center;
  }
}

@media (max-width: 53em) {
  .itemInfoDescription {
    flex-direction: column;
  }
}

@media (max-width: 33em) {
  .itemDescriptionImages {
    width: auto;
  }
}
