.itemSection {
  /* margin: 0 3.6rem; */
  margin-left: 3.6rem;
  margin-right: 3.6rem;
}
.container {
  max-width: 130rem;
  padding: 9.6rem 0;
  margin: 0 auto;
}

.nameContainer {
  position: relative;
}

.backgroundNameContainer {
  font-size: 24rem;
  line-height: 1;
  position: absolute;
  color: rgba(17, 155, 201, 0.15);
  opacity: 0.5;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: -5rem;
  z-index: -1;
}

.backgroundName {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  font-family: "Uni Sans Caps", sans-serif, BlinkMacSystemFont, -apple-system;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.03em;
}

.bestProductH2 {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 3.2rem;
  font-family: "Uni Sans Caps", sans-serif, BlinkMacSystemFont, -apple-system;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #185288;
}

.backLink {
  outline: 0 !important;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  color: #333;
  text-decoration: none;
  margin-left: 15rem;
  font-size: 2rem;
}

/* .backLink:link,
.backLink:visited {
  color: #555;
  background-color: #ffd8a8;
  /* border: 2px solid black; */
/* padding: 0.6rem;
  font-size: 3.2rem;
  text-decoration: none;
  border-radius: 11px;
  transition: all 0.3s;
} */

.backLink:hover,
.backLink:active {
  /* color: #fff5f5; */
  text-decoration: underline;

  /* background-color: #e8590c; */
}
.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  box-shadow: 0 10px 15px rgb(0 0 0 / 5%);
  padding: 2rem;
}
.itemName {
  font-size: 3.2rem;
  font-weight: 700;
}

.productCardButton a:link,
.productCardButton a:visited {
  color: #555;
  background-color: #ffd8a8;
  /* border: 2px solid black; */
  padding: 1.2rem 3.2rem;
  font-size: 3.2rem;
  text-decoration: none;
  border-radius: 11px;
  transition: all 0.3s;
}

.productCardButton a:hover,
.productCardButton a:active {
  color: #fff5f5;
  background-color: #e8590c;
}
